.grid{
    width: 612px;
    height: 612px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 200px;
    height: 200px;
    border: solid black 2px;
}

.mole{
    background-image: url(mole.jpg);
    background-size: cover;
}